wheel
pre-commit==3.3.3
pytest==7.4.0
pytest-mypy-plugins==3.0.0
djangorestframework==3.14.0
types-pytz==2023.3.0.1
types-requests==2.31.0.2
types-urllib3==1.26.25.14
git+https://github.com/typeddjango/django-stubs
git+https://github.com/typeddjango/django-stubs#subdirectory=django_stubs_ext
-e .[compatible-mypy,coreapi,markdown]
