wheel
gitpython==3.1.31
pre-commit==3.3.2
pytest==7.3.1
pytest-mypy-plugins==1.11.1
djangorestframework==3.14.0
types-pytz==2023.3.0.0
types-requests==2.31.0.1
types-urllib3==1.26.25.13
git+https://github.com/typeddjango/django-stubs
git+https://github.com/typeddjango/django-stubs#subdirectory=django_stubs_ext
-e .[compatible-mypy,coreapi,markdown]
