name: Release

on:
  release:
    types: [published]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment:
      name: release
      url: https://pypi.org/p/djangorestframework-stubs
    permissions:
      id-token: write
    steps:
      - name: Install uv & Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.14"
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Build package
        run: uv build
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
