name: test

on:
  push:
    branches:
      - master
      - "renovate/**"
  pull_request:
  workflow_dispatch:
  schedule:
    # 15:41 UTC every day
    - cron: "41 15 * * *"

env:
  UV_FROZEN: true # https://docs.astral.sh/uv/configuration/environment/#uv_frozen

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  mypy-self-check:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v6
      - name: Install uv & Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: uv sync
      - name: Run mypy on plugin code
        run: uv run mypy --strict mypy_drf_plugin
      - name: Run mypy on scripts and utils
        run: uv run mypy --strict scripts
      - name: Run mypy on stubs
        run: uv run mypy --cache-dir=/dev/null --no-incremental rest_framework-stubs
      - name: Run mypy on the test cases
        run: uv run mypy tests

  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v6
      - name: Install uv & Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: uv sync
      - name: Run tests
        run: uv run pytest

  stubtest:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.14"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - name: Install uv & Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: uv sync

      - name: Run stubtest
        run: uv run ./scripts/stubtest.sh

  build-and-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-tags: true
      - name: Install uv & Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.14"
      - name: Ensure uv.lock is up to date
        run: env --unset=UV_FROZEN uv lock --check
      - name: Build
        run: uv build
      - name: Check package metadata
        run: uvx twine check --strict dist/*
